.ant-layout .ant-layout-header {
    height: 4em;
    background-color: #136AFB;
}
.ant-layout-content, body {
    background-color: #F9FAFF;
    background-image: url(./images/375.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
.form_cover {
    background-color: #FFFFFF;
    border-radius: 1em;
    margin: 1.5em auto 8.688em auto;
    width: 21.625em;
    height: 55.688em;
    box-shadow: 0.188em 1.063em 2em rgba(19, 106, 251, 0.3);
}
.form {
    margin: 0 0.438em;
}
.form_title {
    margin: 0 1.563em;
    height: 7em;
    display: flex;
    justify-content: center;
}
.logo {
    width: 4em;
    height: 4em;
    margin-top: 0.625em;
}
.ant-input-affix-wrapper, .ant-picker, .ant-select-single:not(.ant-select-customize-input) .ant-select-selector, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    height: 2.5em;
    line-height: 2.5em;
    text-align: left;
}
.ke {
    color: #BEC6EE;
    margin: 0 0 0.938em 0;
}
.signup_btn {
        width: 100%;
        /* margin-top: 15px;  */
    }
.ant-input-affix-wrapper, .ant-picker, .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 0.313em;
}

/* FormSignUp */
/* ============================================== */
.checked {
    width: 9.375em;
    height: 9.375em;
}
.formresult_cover {
    width: 21.438em;
    height: 26.438em;
    border-radius: 1em;
    background-color: #FFFFFF;
    margin: 8.188em auto 12.125em auto;
    position: relative;
    box-shadow: 0.188em 1.063em 2em rgba(19, 106, 251, 0.3);
}
.formresult_title {
    position: absolute;
    width: 16.688em;
    height: 2.625em;
    left: 2.375em;
    top: 17.688em;
    font-weight: 600;
    font-size: 16px;    
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #07345A;
}
.formresult_text{
    position: absolute;
    width: 264px;
    height: 18px;
    left: 40px;
    top: 340px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #07345A;
}
/* Tablet */
@media screen and (min-width: 48em) and (max-width: 89.938em) {
    .ant-layout .ant-layout-header {
        height: 5em;
    }
    body {
        height: 65.813;
    }
    .form_cover {
        width: 46em;
        height: 37.938em;
        margin: 6.250em auto 21.625em auto;
    }
    .form_title {
        height: 5.5em; 
    }
    .form {
        margin: 2.063em;
    }
    .ant-input-affix-wrapper, .ant-picker, .ant-select-single:not(.ant-select-customize-input) .ant-select-selector, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
        width: 100%;
    }
    .ke {
        display: none;
    }
    .ant-layout-content, body {
    background-image: url(./images/1440.png);
    }

    /* =========================== */
    
}
@media screen and (min-width: 90em) {
    .ant-layout .ant-layout-header {
        height: 5em;
    }
    .ke {
        display: none;
    } 
    .form_cover {
        width: 53.375em;
        height: 37.938em;
        margin: 3.75em auto 17.313em auto;
    }
    .form {
        margin: 0 3.188em;
    }
     .ant-layout-content, body {
    background-image: url(./images/1920.png);
    }
    .formresult_cover {
        width: 463px;
        height: 503px;
        border-radius: 16px;
        margin: 181px auto 260px auto;
    }
    .checked {
        width: 189px;
        height: 189px;
    }
    .formresult_title {
        width: 380px;
        height: 52px;
        left: 40px;
        top: 331px;
        font-size: 20px;
 
    }
    .formresult_text {
        width: 399px;
        height: 18px;
        left: 32px;
        top: 404px;
    }
}